
.site-header {
  display: flex;
  align-items: center;
  height: 96px;
  background: #fff;
}

.logo {
  @include font-size(36px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 96px;
}

.contact-link {
  @include font-size(30px);
}