
body,
html {
  width: 100%;
  height: 100%;
  background: $creme;
}

.site-header--wrapper,
.site-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include bp-min-width($small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include bp-min-width($xlarge) {
    margin: 0 auto;
    padding-left: 260px;
  }
}

.wrapper {
  @include cf;
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
